{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="my-5">
    <h1>View Appointments</h1>

    <div class="container my-5">
        <div class="row">
            <div class="col-xl-1">
    
            </div>
            <div class="col-xl-8">
                <div class="container card-back">
                    <div class="row mt-5">
                        <div class="col-xl-3">
                            <h5>Client:</h5>
                            Benjamin Joseph
                        </div>
                        <div class="col-xl-3">
                            <h5>Mobile:</h5>
                            7678691337
                        </div>
                        <div class="col-xl-3">
                            <h5>E-mail:</h5>
                            benjosephftw@gmail.com
                        </div>
                        <div class="col-xl-3">
                            <h5>Age:</h5>
                            21
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-xl-3">
                            <h5>Sex:</h5>
                            Male
                        </div>
                        <div class="col-xl-3">
                            <h5>Service:</h5>
                            Dental Care
                        </div>
                        <div class="col-xl-3">
                            <form>
                                <h5>Date</h5>
                                25/05/2022
                        </div>
                        <div class="col-xl-3">
                            <h5>Notes:</h5>
                            My Teeth Hurt
                        </div>
                    </div>
                    <div>
                        <h5>Time Slot:</h5>                       
                            <div class="row">
                                9:30 - 10:30am
                            </div>
                            <div class="my-3">
                                <input type="submit" class="btn btn-success" value="Edit Appointment">
                                <input type="submit" class="btn btn-danger" value="Cancel Appointment">
                            </div>                       
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <a href="{% url 'manage' %}">
                    <h3>Manage Appointments</h3>
                    <button type="button" class="btn btn-primary">
                        New Appointment Requests <span class="badge bg-secondary">4</span>
                    </button>
                </a>
            </div>
        </div>
    </div>

</div>

{% endblock %}