.app_button{
    background-color: rgb(0, 0, 255);
    border-radius: 20px;
}

#w_text{
    color:  aliceblue;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#nav_element_spacer{
    margin-right: 10px;
}

a:hover{
    color: blue;
}

#relative{
    position: relative;
}

.myfooter{
    background-color: rgb(5, 110, 124);
    color: aliceblue;
}

body{
    background-image: url("body.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #56abfa;
}