{% extends 'base.html' %}

{% block content %}

<div class="container py-5" style="height: 100%;">
    <center>
        <h2>We have written {{ blogs.count }} blogs</h2>

        {% for blog in blogs reversed %}
        <a href="{% url 'detail' blog.id %}" style="text-decoration: none;">
        <div class="card my-5" style="width: 70%;">
            <img class="card-img-top" src="{{ blog.image.url }}" alt="Blog image">
            <div class="card-body">
              <h5 class="card-title">{{ blog.title }}</h5>
              <p class="card-text">{{ blog.date }}</p>
              {% if blog.written_by %}
              <p class="card-text">by {{ blog.written_by }}</p>
              {% endif %}
              <p class="card-text">{{ blog.description|truncatechars:100 }}</p>
            </div>
        </div>
        </a>
        {% endfor %}
    </center>
</div>
{% endblock %}