
<!-- {%for people in workingforce.all%}
        <div class="col">
          <div class="card shadow-sm">
            <img class="card-image-top" src="{{people.image.url}}"></image>
            <div class="card-body">
              <p class="card-text">{{people.name}}</p>
              <p class="card-text">{{people.qualifications}}</p>
              
            </div>
          </div>
        </div>
        {% endfor %} -->

        {%for people in workingforce.all%}

        <div align="center" class="col-lg-4">
        <img class="wdn-stretch rounded-corners" add border-radius="50%" width="140" height="140" src="{{people.image.url}}">
          <h2>{{people.name}}</h2>
          <p>{{people.qualifications}}</p>
        </div>
        {% endfor %}
