html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
#tc1{
    background-color: rgb(74, 207, 207);
    color: aliceblue;
    padding: 15 15 15 15;
}

#tc2{
    background-color: rgb(81, 185, 211);
    color: aliceblue;
    padding: 15 15 15 15;
}

#tctl{
    background-color: rgb(74, 207, 207);
    color: aliceblue;
    border-top-left-radius: 15px;
    padding: 15 15 15 15;
}

#tctr{
    background-color: rgb(81, 185, 211);
    color: aliceblue;
    border-top-right-radius: 15px;
    padding: 15 15 15 15;
}

#tcbl{
    background-color: rgb(74, 207, 207);
    color: aliceblue;
    border-bottom-left-radius: 15px;
    padding: 15 15 15 15;
}

#tcbr{
    background-color: rgb(81, 185, 211);
    color: aliceblue;
    border-bottom-right-radius: 15px;
    padding: 15 15 15 15;
}

#captionback{
    background-color: rgba(0,0,0,0.4);
}

.rounded-image{
    border-radius: 100px;
}

.staff-card{
    border-radius: 25px;
    width: 500px;
    box-shadow: -5px 2px 10px;
    margin-top: 0;
    margin-bottom: 50px;
    background-color: white;
}

/* ********* TITLES ***************** */

.titles{
    width: max-content;
    position: relative;
    margin: auto;
    transition-property: transform , color;
    transition-timing-function:cubic-bezier(0.68, 0.55, 0.265, 1.55);
    transition-duration: 1200ms;
    color: rgb(37, 90, 79);
}

#titless{
    font-size: 2.5rem; 
}
 
.titles:hover{
    color:rgb(66, 30, 63);
    transform: scale(1.5);
}
/* ************************************ */

/* ***********BOOK NOW BUTTON ************* */

.button{
    width: max-content;
    position: relative;
    left: 46%;
    padding: 15px 0px;

  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  font-size: 18px;
}

.button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 8px 12px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    /* transform: ); */
    transform: translate(2px);
}

.button:active {
  box-shadow: #060a25 5px 3px 7px inset;
}
/* ************************************ */

/* ***********SERVICES*****************/
.sr{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}
.sr-container{
    box-sizing:content-box;
    display: grid;
    grid-template-columns: 50% auto;
    height:auto;
}

.sr-img{
    height: 70vh;
}

.service-image{
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.sr-detail{
    padding-left: 10%;
    height: 70vh;
    width:100%;
    object-fit: cover;
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
.sub-sr-detail{
    text-align:start;

}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(64, 64, 141);
    border-radius: 5px;
  }

/* ******************************* */

/* *********** Services Responsiveness ******** */
@media only screen and (max-width: 1000px){
   .sr-img{
       display: none;
   }
   .sr-detail{
       width: 100%;
       height: max-content;
       object-fit: contain;
       text-align: center;
   }
   .sr-container{
       display:contents;
       height: max-content;
   }
}

